@CHARSET "UTF-8";
#login{
    width: 530px;
    margin: 0 auto;
}
#tabs{
    font: normal 14pt Arial,Helvetica,Verdana,"DejaVu Sans","Bitstream Vera Sans",Geneva,sans-serif;
}

#tabs .detail-list td{
    padding: 10px;
}

#login h1{
    font-size: 38px;
}

#loginForm{
    width: 430px;
}

#loginForm #account, #loginForm #password{
    height: 44px;
    width: 300px;
    font-size: 18px;
    padding: 0px 8px;
}

#loginForm #loginSubmit{
    font-size: 18px;
    height: 44px;
    width: 320px;
    border: 1px solid #2f5bb7;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
}

#loginForm li{
    list-style: none;
    margin: 10px;
}

#loginForm li.title{
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    list-style:inherit;
}

#loginForm li span.error{
    display: none;
    font-weight: bold;
    font-size: 18px;
    color: red;
}